*{
    font-family: "Fira Sans", serif;
    width: 100%;
}
.intro{
    margin-top: 20px;
    text-align: center;
}
#submit{
    border-radius: 5px;
    width: 100px;
    padding: 15px;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
  }