*{
    font-family: "Fira Sans", serif;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

/* 1st section */
.p1-a-section{
    padding: 20px;
}
.welcome{
    font-size: 40px;
    text-align: center;
}
.intro{
    text-align: center;
}
/* main */
.p3{
    padding: 20px;
}
  